<link rel="stylesheet" href="/css/MainPage/Main.css">
<img src="/images/1620239884_46-phonoteka_org-p-fon-dlya-reklami-krossovok-50.jpg">
<div class="partners-panel">
  <div class="panel-heading">Наши партнеры</div>
  <div class="panel-content">
    <a href='https://www.nike.com/'>
       <img src="/images/697_nike.jpg">
    </a>
    <a href='https://ua.puma.com/uk/?&utm_source=GGL&utm_medium=BS&utm_campaign=ggl_bs_np_ser_brand_exact_search_ukraine&gclid=CjwKCAjwpayjBhAnEiwA-7ena0OyrDXSFV1PceIY_zf9DKHnay4zzhF4GzRb8lKSH1ItaFXc2Iq9phoCE_sQAvD_BwE'>
         <img src="/images/в-редакционной-статье-логотипа-puma-pro-иллюстративная-на-белом-фоне-208329674.jpg">
    </a>
    <a href='https://www.underarmour.com/en-us/?country=US&currency=USD'>
     <img src="/images/загружено.png">    
    </a>
  </div>
</div>
 <img src="/images/pngtree-nike-new-sports-shoes-e-commerce-taobao-poster-png-image_7532851.png">