
<!DOCTYPE html>
<html>
<head>
  <style>
    .message-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .message-box {
      border: 2px solid black;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="message-container">
    <div class="message-box">
      <h2>Успешная регистрация</h2>
      <p>Вы успешно зарегистрировались на нашем сайте.</p>
    </div>
  </div>
</body>
</html>


